.footer {
    height: 500px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-footer {
    padding: 1rem;
    background: #333;
    color: #fff;
    text-align: center;
  }
  .page-footer.fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.wrapper ul {
    color: #fff;
}

.wrapper h1 {
    color: #fff;
}

.wrapper span {
    color: #f2f213;
}

.wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper ul li h3{
    margin-top: 30px;
}


@media (max-width: 740px) {
    .wrapper{
        flex-direction: column;
        gap: 50px;
    }
    .wrapper ul li h3{
        margin-top: 15px;
    }
}